mlflow==2.18.0
openai==1.56.1
cloudpickle==3.1.0
pydantic==2.9.2
ydata-profiling==4.12.1
databricks-langchain==0.7.1
databricks-sdk>=0.30.0
openpyxl==3.1.5
spacy==3.8.7
presidio_analyzer==2.2.358
presidio_anonymizer==2.2.358
requests>=2.25.0